@import url(styles/cover-banner.css);
@import url(styles/navbar.css);
@import url(styles/product-item.css);
@import url(styles/button.css);
@import url(styles/promo-banner.css);
@import url(styles/footer.css);
@import url(styles/product-details.css);
@import url(styles/cart.css);
@import url(styles/responsive.css);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.font-mono {
    font-family: 'JetBrains Mono';
}

.m-10 {
    margin: 10px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tag {
    border: 2px solid #63636394;
    max-width: 230px;
    text-align: center;
    padding: 6px;
    border-radius: 4px;
}

.bg-warning {
    background-color: #F3075C;
    color: #fff;
}

.bg-promo {
    background-color: #35C005;
    color: #fff;
}

.flex {
    display: flex;
    justify-content: center;
}

.justify-left {
    justify-content: left;
}


.items-center {
    align-items: center;
}

.flex-start {
    align-items: flex-start;
}

.space-around {
    justify-content: space-around;
}

#products h2{
    margin-bottom: 15px;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}