.cart-container {
    padding: 0px 60px;
}

.cart-container-content {
    padding: 40px 0px;
    width: 80%;
}

.dual-buttons>button {
    margin-right: 5px;
}

.cart-container-content h2 {
    padding-bottom: 20px;
    font-size: 1.9em;
}

.cart-container-content h3 {
    font-size: 1.5em;
}

.cart-container-content h4 {
    padding-bottom: 40px;
    font-size: 2.5em;
}

.cart-items {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 75%;
    height: 50vh;
    overflow-y: auto;
}

.cart-items li {
    padding: 8px 0px;
    margin-bottom: 8px;
}

.cart-items li>img {
    width: 140px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px #b3b3b3;
}

.cart-items p {
    margin-left: 10px;
    font-size: 1.3em;
}

.cart-items h4 {
    font-weight: 400;
    font-size: 1.6em;
    padding-top: 6px;
}

.cart-items h3 {
    font-weight: bold;
    font-size: 1.3em;
}