.promo-banner {

    background: 
    linear-gradient(rgba(26, 23, 23, 0.39),
    rgba(20, 19, 19, 0.363)),
    url(public/cover/nk-cover-2.png);
    background-position: center;
    background-size: cover;

    padding: 50px 0px;
    color: #fff;
    margin: 10px 50px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 4px 5px #3131319c;
}

.promo-banner-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.promo-banner-content h3 {
    font-size: 55pt;
    font-family: 'Oi';
    font-weight: 300;
    line-height: 80px;
    text-align: center;
    position: relative;
    padding: 20px 40px;
    width: 30%;
}
